@import url('https://fonts.googleapis.com/css2?family=Rajdhani&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Rajdhani', sans-serif;
}
header{
    display: flex;
}
header>a{
    display: block;
    width: 25%;
    height: 100vh;
    color: white;
    text-decoration: none;
    position: relative;
}
header>a hr{
    border: 1px solid white;
    width: 100%;
    position: absolute;
    top: 50%;
    z-index: 1;
    opacity: 0;
    transition: .3s ease-in-out;
}
header>a:hover hr{
    opacity: 1;
}
header>a>div{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
header>a>div>div{
    z-index: 11;
    padding: 50px;
    text-align: center;
}
header>a>div>div>p{
    font-size: 24px;
}
header>a>div>div>small{
    color: transparent;
    font-size: 20px;
}
header>a:hover>div>div>small{
    color: white;
    transition: .3s ease-in-out;
}
header>a.rojo>div>div , .rojo{
    background-color: lightcoral;
}
header>a.naranja>div>div , .naranja{
    background-color: lightsalmon;
}
header>a.amarillo>div>div , .amarillo{
    background-color: lightgoldenrodyellow;
}
header>a.verde>div>div , .verde{
    background-color: lightgreen;
}
@media(max-width: 800px){
    header{
        flex-direction: column;
        height: 100vh;
    }
    header>a{
        height: 25%;
        width: 100%;
    }
}